.site .e-div-block-base {
  min-width: 30px;
  padding: 10px;
  display: block;
}
.site .e-flexbox-base {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.site .e-grid-base {
  column-gap: 20px;
  padding: 10px;
  display: grid;
  row-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.site .e-tabs-base {
  padding-block-start: 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.site .e-tabs-menu-base {
  display: flex;
  justify-content: center;
}
.site .e-tab-base {
  width: 160px;
  color: #0c0d0e;
  cursor: pointer;
  padding: 8px;
  border-width: 2px;
  border-color: #e0e0e0;
  border-style: solid;
  background-color: #ffffff;
  display: block;
}
.site .e-tab-base.e--selected {
  border-color: #0c0d0e;
  outline-width: 0px;
}
.site .e-tab-base:focus {
  border-color: #0c0d0e;
  outline-width: 0px;
}
.site .e-tab-base:hover,
.site .e-tab-base:focus-visible {
  background-color: #e0e0e0;
}
.site .e-tabs-content-area-base {
  display: block;
}
.site .e-tab-content-base {
  min-width: 30px;
  padding: 10px;
  display: block;
}
.site .e-form-base {
  display: block;
}
.site .e-collection-loop-base {
  display: block;
}
.site .e-heading-base {
  margin: 0px;
}
.site .e-heading-link-base {
  all: unset;
  cursor: pointer;
}
.site .e-image-link-base {
  width: fit-content;
  all: unset;
  cursor: pointer;
  display: inherit;
}
.site .e-image-base {
  display: block;
}
.site .e-paragraph-base {
  margin: 0px;
}
.site .e-paragraph-link-base {
  all: unset;
  cursor: pointer;
}
.site .e-svg-base {
  width: 65px;
  height: 65px;
  display: inline-block;
}
.site .e-button-base {
  text-align: center;
  padding-block-start: 12px;
  padding-block-end: 12px;
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  border-radius: 2px;
  border-width: 0px;
  background-color: #375efb;
  display: inline-block;
}
.site .e-youtube-base {
  overflow: hidden;
  aspect-ratio: 16/9;
}
.site .e-divider-base {
  height: 1px;
  border-width: 0px;
  border-color: transparent;
  border-style: none;
  background-color: #000;
}
.site .e-self-hosted-video-base {
  max-width: 100vw;
  aspect-ratio: 16/9;
  display: inline-block;
}
