@media (max-width: 1024px) {
  .site .e-9fdc40f-c34dc80 {
    font-size: 30px;
    text-align: start;
    justify-content: space-around;
  }
}
@media (max-width: 1024px) {
  .site .e-2bf295b-e3f4405 {
    font-size: 15px;
  }
}
@media (max-width: 1024px) {
  .site .e-2bf295b-e3f4405:hover,
  .site .e-2bf295b-e3f4405:focus-visible {
    font-size: 17px;
  }
}
@media (max-width: 1024px) {
  .site .e-9bd9087-2404851 {
    font-size: 15px;
  }
}
@media (max-width: 1024px) {
  .site .e-6afe21b-66e5ff1 {
    font-size: 15px;
  }
}
@media (max-width: 1024px) {
  .site .e-f4f26d8-20c9458 {
    font-size: 15px;
  }
}
@media (max-width: 1024px) {
  .site .e-fef1ec9-a43ac8c {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .site .e-ea960e2 {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .site .e-38e89f7 {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .site .e-f9185dd {
    flex-direction: column-reverse;
  }
}
@media (max-width: 1024px) {
  .site .e-86767d8,
  .site .e-018aafb,
  .site .e-5e14653-8f4c2d5 {
    padding-block-start: 34px;
    padding-block-end: 34px;
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    gap: 22px;
  }
}
@media (max-width: 1024px) {
  .site .e-a61b978 {
    padding-block-start: 34px;
    padding-block-end: 34px;
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    gap: 22px;
  }
}
@media (max-width: 1024px) {
  .site .e-ab355eb-aeaef6f {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .site .e-0e680c4-a2fc7f1 {
    width: 1200px;
  }
}
@media (max-width: 1024px) {
  .site .e-31e2925 {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .site .e-16611d7 {
    flex-direction: column-reverse;
  }
}
