@media (max-width: 767px) {
  .site .e-9fdc40f-c34dc80 {
    font-size: 20px;
    align-self: stretch;
    order: -99999;
  }
}
@media (max-width: 767px) {
  .site .e-2bf295b-e3f4405 {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .site .e-2bf295b-e3f4405:hover,
  .site .e-2bf295b-e3f4405:focus-visible {
    font-size: 16px;
    background-color: #857b7b33;
  }
}
@media (max-width: 767px) {
  .site .e-9bd9087-2404851 {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .site .e-6afe21b-66e5ff1 {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .site .e-6afe21b-66e5ff1:hover,
  .site .e-6afe21b-66e5ff1:focus-visible {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .site .e-f4f26d8-20c9458 {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .site .e-fef1ec9-a43ac8c {
    flex-direction: column;
    gap: 15px;
  }
}
@media (max-width: 767px) {
  .site .e-ea960e2 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .site .e-38e89f7 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .site .e-f9185dd {
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .site .e-2d0cb74-e4b9a8f {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .site .e-ab355eb-aeaef6f {
    font-size: 19px;
  }
}
@media (max-width: 767px) {
  .site .e-1c999de-85dac69 {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .site .e-86767d8 {
    width: 100%;
    padding-block-start: 28px;
    padding-block-end: 28px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    gap: 18px;
  }
}
@media (max-width: 767px) {
  .site .e-71ccaa0-35a3edc {
    font-size: 19px;
  }
}
@media (max-width: 767px) {
  .site .e-26d3b32-29edf52 {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .site .e-018aafb {
    width: 100%;
    padding-block-start: 28px;
    padding-block-end: 28px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    gap: 18px;
  }
}
@media (max-width: 767px) {
  .site .e-cfef679-34fa82e {
    font-size: 19px;
  }
}
@media (max-width: 767px) {
  .site .e-e5653b1-2d2ce42 {
    font-size: 15px;
    text-align: start;
    align-self: start;
  }
}
@media (max-width: 767px) {
  .site .e-a61b978 {
    flex-direction: column;
    padding-block-start: 28px;
    padding-block-end: 28px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    gap: 18px;
  }
}
@media (max-width: 767px) {
  .site .e-5e14653-8f4c2d5 {
    width: 100%;
    padding-block-start: 28px;
    padding-block-end: 28px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    gap: 18px;
  }
}
@media (max-width: 767px) {
  .site .e-77c0543-ff89a28 {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .site .e-688e842-88a1c57 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .site .e-efb823e-cdb7dce {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .site .e-efb823e-cdb7dce:hover,
  .site .e-efb823e-cdb7dce:focus-visible {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .site .e-3ecff1e-e282dcf {
    font-size: 10px;
  }
}
@media (max-width: 767px) {
  .site .e-3ecff1e-e282dcf:hover,
  .site .e-3ecff1e-e282dcf:focus-visible {
    font-size: inherit;
  }
}
@media (max-width: 767px) {
  .site .e-dafe9b8 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .site .e-0e680c4-a2fc7f1 {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .site .e-31e2925 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .site .e-16611d7 {
    flex-direction: column-reverse;
  }
}
