.site .e-9fdc40f-c34dc80 {
  font-family: "Poppins";
  font-size: 50px;
  color: #000000;
}
.site .e-2bf295b-e3f4405 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  color: #605a5a;
}
.site .e-2bf295b-e3f4405:hover,
.site .e-2bf295b-e3f4405:focus-visible {
  font-size: 22px;
  color: #000000;
  background-color: #857b7b33;
}
.site .e-9bd9087-2404851 {
  font-size: 17px;
  color: #ffffff;
  text-decoration: underline;
  border-radius: 25px;
  background-color: #000000;
  align-self: start;
}
.site .e-9bd9087-2404851:hover,
.site .e-9bd9087-2404851:focus-visible {
  font-size: 15px;
  background-color: #f45b00e6;
}
.site .e-9bd9087-2404851:focus {
  background-color: #000000;
}
.site .e-6afe21b-66e5ff1 {
  font-size: 17px;
  color: #000000;
  text-decoration: underline;
  border-radius: 25px;
  background-color: #034afce6;
  align-self: start;
}
.site .e-6afe21b-66e5ff1:hover,
.site .e-6afe21b-66e5ff1:focus-visible {
  font-size: 20px;
  color: #000000;
  background-color: #fff4f4;
}
.site .e-6afe21b-66e5ff1:focus {
  background-color: #000000;
}
.site .e-f4f26d8-20c9458 {
  font-size: 17px;
  color: #ffffff;
  text-decoration: underline;
  border-radius: 25px;
  background-color: #ff0000;
  align-self: start;
}
.site .e-f4f26d8-20c9458:hover,
.site .e-f4f26d8-20c9458:focus-visible {
  font-size: 15px;
  background-color: #029b0ce6;
}
.site .e-f4f26d8-20c9458:focus {
  background-color: #000000;
}
.site .e-fef1ec9-a43ac8c {
  flex-direction: row;
  gap: 20px;
}
.site .e-ea960e2 {
  flex-direction: column;
  gap: 20px;
}
.site .e-2c49630-dd7525b {
  border-radius: 25px;
  border-style: solid;
}
.site .e-2c49630-dd7525b:hover,
.site .e-2c49630-dd7525b:focus-visible {
  border-radius: 25px;
  border-style: solid;
}
.site .e-38e89f7 {
  width: 50%;
  flex-direction: column;
}
.site .e-f9185dd {
  padding-block-start: 50px;
  padding-block-end: 50px;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  background-color: #ffffff;
  flex-direction: row;
  gap: 20px;
}
.site .e-2d0cb74-e4b9a8f {
  font-size: 30px;
}
.site .e-ab355eb-aeaef6f {
  font-weight: 600;
  font-size: 25px;
  flex: 1 0 auto;
  align-self: start;
}
.site .e-1c999de-85dac69 {
  font-family: "Poppins";
  font-size: 20px;
  color: #605a5a;
}
.site .e-1c999de-85dac69:hover,
.site .e-1c999de-85dac69:focus-visible {
  font-size: 22px;
  color: #000000;
  background-color: #857b7b33;
}
.site .e-86767d8 {
  padding-block-start: 50px;
  padding-block-end: 50px;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  flex-direction: column;
  gap: 20px;
}
.site .e-71ccaa0-35a3edc {
  font-weight: 600;
  font-size: 25px;
  text-align: start;
}
.site .e-26d3b32-29edf52 {
  font-size: 20px;
  color: #605a5a;
}
.site .e-26d3b32-29edf52:hover,
.site .e-26d3b32-29edf52:focus-visible {
  font-size: 22px;
  color: #000000;
  background-color: #857b7b33;
}
.site .e-018aafb {
  padding-block-start: 50px;
  padding-block-end: 50px;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  flex-direction: column;
  gap: 20px;
}
.site .e-cfef679-34fa82e {
  font-weight: 600;
  font-size: 25px;
  text-align: start;
}
.site .e-e5653b1-2d2ce42 {
  font-size: 20px;
  color: #605a5a;
}
.site .e-e5653b1-2d2ce42:hover,
.site .e-e5653b1-2d2ce42:focus-visible {
  font-size: 22px;
  color: #000000;
  background-color: #857b7b33;
}
.site .e-5e14653-8f4c2d5 {
  padding-block-start: 50px;
  padding-block-end: 50px;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  flex-direction: column;
  gap: 20px;
}
.site .e-a61b978 {
  padding-block-start: 30px;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  background-color: #ffffff;
  flex-direction: column;
}
.site .e-77c0543-ff89a28 {
  font-size: 35px;
}
.site .e-688e842-88a1c57 {
  font-size: 25px;
  display: flex;
}
.site .e-efb823e-cdb7dce:hover,
.site .e-efb823e-cdb7dce:focus-visible {
  font-size: 22px;
  color: #000000;
  background-color: #857b7b33;
}
.site .e-efb823e-cdb7dce {
  font-size: 20px;
  color: #605a5a;
}
.site .e-3ecff1e-e282dcf {
  font-size: 20px;
  color: #ffffff;
  text-decoration: underline;
  border-radius: 25px;
  background-color: #000000;
  align-self: start;
}
.site .e-3ecff1e-e282dcf:hover,
.site .e-3ecff1e-e282dcf:focus-visible {
  font-size: 15px;
  background-color: #9c9191e6;
}
.site .e-3ecff1e-e282dcf:focus {
  background-color: #000000;
}
.site .e-dafe9b8 {
  width: 650px;
  max-width: 650px;
  flex-direction: column;
  gap: 20px;
}
.site .e-0e680c4-a2fc7f1:hover,
.site .e-0e680c4-a2fc7f1:focus-visible {
  border-radius: 25px;
  border-style: solid;
}
.site .e-0e680c4-a2fc7f1 {
  border-radius: 25px;
  border-style: solid;
}
.site .e-31e2925 {
  width: 1200px;
  flex-direction: column;
}
.site .e-16611d7 {
  padding-block-start: 50px;
  padding-block-end: 50px;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  background-color: #ffffff;
  flex-direction: row;
  gap: 20px;
}
