.site-kit-405 {
  --e-global-color-primary: #ffffff;
  --e-global-color-secondary: #000000;
  --e-global-color-text: #758398;
  --e-global-color-accent: #009bdf;
  --e-global-color-f0faff4: #084088;
  --e-global-typography-primary-font-family: "Roboto";
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Roboto Slab";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Roboto";
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: "Roboto";
  --e-global-typography-accent-font-weight: 500;
  font-family: "Poppins", Sans-serif;
}

.site-kit-405 h1 {
  font-family: "Poppins", Sans-serif;
  font-size: 53px;
  font-weight: 800;
  font-style: normal;
}

.site-kit-405 h2 {
  color: #051cbb;
  font-family: "Poppins", Sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.site-kit-405 h3 {
  color: #cf0b0b;
  font-family: "Poppins", Sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.site-section.site-section-boxed > .site-container {
  max-width: 1200px;
}

.e-con {
  --container-max-width: 1200px;
}

.site-widget:not(:last-child) {
  margin-block-end: 20px;
}

.site-element {
  --widgets-spacing: 20px 20px;
  --widgets-spacing-row: 20px;
  --widgets-spacing-column: 20px;
}

h1.entry-title {
  display: var(--page-title-display);
}

@media (max-width: 1024px) {
  .site-section.site-section-boxed > .site-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}

@media (max-width: 767px) {
  .site-section.site-section-boxed > .site-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
